body {
  font-family: "Open Sans";
  border: 3px solid black;
}

/* Navigation bar and icons */

nav {
  background-color: #75e2e6;
  border-bottom: 4px solid #048eaa;
  height: 75px;
}

#dog-icon {
  display: inline-block;
  height: 55px;
  width: 55px;
  margin-top: 10px;
  margin-left: 10px;
}

.navbar-links {
  color: black;
  font-weight: bold;
  padding: 5px 10px;
  text-decoration: none;
  margin: 0;
  float: right;
}

ul {
  list-style-type: none;
  margin: 10px;
  padding: 10px;
}

li {
  display: inline;
}

/* Title section with change dog name form */

.title-section {
  background-image: linear-gradient( rgba(0,0,0,.6), rgba(0,0,0,.6) ), url(./images/dog-party-assets/park.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 700px;
}

h1 {
  font-family: "Open Sans";
  color: #ffffff;
  font-size: 40px;
  font-weight: 400;
  margin: 0 auto;
  text-align: center;
  padding: 3%;
}

strong {
  font-weight: bolder;
}

.dog-images {
  border-radius: 50%;
  border: 6px solid #048eaa;
  margin: 0 auto;
  display: block;
  width: 190px;
}

.name-this-dog-form{
  margin: 0 auto;
  width: 430px;
}

h3 {
  color: white;
  margin: 0;
}

#name {
  border: 1px solid black;
  border-radius: 2px;
  height: 20px;
  width: 410px;
  padding: 10px;
  font-size: 14px;
}

#submit {
  background-color: #75e2e6;
  border: 1px solid #75e2e6;
  border-radius: 2px;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
}

/* Main section with 3 columns of text */

.main-section {
  margin: auto;
  max-width: auto;
}

.left,
.middle,
.right {
  display: inline-block;
  margin-bottom: 25px;
  text-align: center;
  width: 33%;
  vertical-align: top;
}

p {
  text-align: left;
  padding: 10px;
  width: auto;
}

.buttons {
  background-color: #048eaa;
  border-radius: 3px;
  color: #ffffff;
  display: block;
  font-size: 17px;
  font-weight: bold;
  margin-left: 8%;
  margin-top: 5%;
  padding: 10px;
  width: 80%;
}

/* Footer and social media icons */

footer {
  color: white;
  font-family: "Open Sans";
  background-color: #048eaa;
  align-items: center;
  text-align: center;
  padding: 30px;
  margin-top: 20px;
}

.social-media-icons {
  padding: 10px;
}
